html,
body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 200px 4fr;
  background-color: white;
}
#container div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-column: 2/3;
  /* background-color: white; */
}
#searchBar {
  display: flex;
  background-color: white;
  justify-content: stretch;
  align-items: center;
}
#searchBar img {
  width: 70px;
}
#searchBar input {
  width: 100%;
  height: 50%;
  background-color: #e2e8f0;
  border-radius: 15px;
}

#connectionStatus {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr minmax(min-content, 1fr);
  gap: 10px;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
}
#connectionStatus img {
  border-radius: 50%;
  width: 50px;
}

#connectionStatus svg {
  fill: black;
}
#userProfile {
  display: grid;
  grid-template-columns: 50px minmax(max-content, 1fr);
  grid-template-rows: min-content min-content;
  gap: 0px 20px;
  justify-content: start;
  align-items: center;
}
#userProfile img {
  grid-row: 1/3;
  width: 50px;
  border-radius: 50%;
}

#hi {
  align-self: self-end;
  /* grid-column: 2/3; */
}
#userProfileName {
  align-self: self-start;
}
#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
#buttons button {
  background-color: #1992d4;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  height: 40px;
}
#sidebar {
  background-color: #1992d4;
  grid-row: 1/3;
  display: grid;
  padding-left: 20px;
  grid-template-rows: 200px 400px 200px;
  grid-template-columns: 1fr;
  font-size: x-large;
}
#dashboard {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
#dashboard p {
  justify-self: start;
}
svg {
  fill: white;
  width: 50px;
  justify-content: end;
}
#nav {
  display: grid;
  grid-template-rows: repeat(6, 70px);
  color: white;
}
.navItem {
  display: flex;
  align-items: center;
  gap: 15px;
}
#branding {
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(3, 70px);
  color: white;
}
.brandingItem {
  display: flex;
  align-items: center;
  gap: 15px;
}
#main-content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  justify-items: start;
}
#projectsContainer {
  padding: 15px;
}
#projects {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.card {
  border-radius: 15px;
  padding: 15px;
  border-left: 15px solid hsl(47, 100%, 50%);
  background-color: white;
}
.card svg {
  fill: black;
  width: 40px;
  cursor: pointer;
}
.cardSvgs {
  display: flex;
  justify-content: right;
}

#annoucement-treading {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.trendingCard {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
#trending img {
  width: 50px;
  border-radius: 80%;
}
